{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"],
        "alias": {
          "@": "./src"
        }
      }]
    ]
  }